<div class="manager">

  <div class="list-group">
    <a href="./employee" class="list-group-item list-group-item-action active Employee">Manage Employees</a>
    <a href="./recipe" class="list-group-item list-group-item-action ">View Recipes</a>
    <a href="./inventory" class="list-group-item list-group-item-action active">View Inventory</a>
    <a href="./signup" class="list-group-item list-group-item-action addUser">Add User Account</a>
  </div>

</div>