<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="employee-container">
                <h1>Employees</h1>
                <table style="overflow-x:auto;" class="table table-hover table-dark emp">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Phone Number</th>
                            <th>Office Number</th>
                            <th>Email</th>
                            <th>Full Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="form-row">
                            <form id="employee-form">

                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" data-toggle="modal" data-target="#modal2">Add New Employee</button>


</div>
<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/employee-.js"></script>
