<div class="container">

  <div class="row1">
    <div class="col-md-12 ">
      <div class="inventory-container">
        <h1>inventory</h1>
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th>Item Discription</th>
              <th>Part Number</th>
              <th>Weight Needed</th>
              <th>Amount In Stock</th>
              <th>In Stock</th>
            </tr>
          </thead>
          <tbody>
            <tr id="form-row">
              <form id="inventory-form">

              </form>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modal3">Update Quantity</button>
<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modal4">Add New Item</button>
<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/inventory.js"></script>
