<div class="wrapper">
    <h5>REcipes</h5>
    <ul class="image-list-small">
        <li>
            <a data-toggle="modal" data-target="#exampleModalCenter" style="background-image: url(./assets/media/drink.jpg);height:200px;width: 200px;"></a>
            <div class="details">
                <h3><a href="#" data-toggle="modal" data-target="#exampleModalCenter">Drink</a></h3>
            </div>
        </li>
        <li>
            <a data-toggle="modal" data-target="#exampleModalCenter" style="background-image: url(./assets/media/lotion.jpg);height:200px;width: 200px;"></a>
            <div class="details">
                <h3><a href="#" data-toggle="modal" data-target="#exampleModalCenter">Lotion</a></h3>
            </div>
        </li>
        <li>
            <a data-toggle="modal" data-target="#exampleModalCenter" style="background-image: url(./assets/media/aloe.jpg);height:200px;width: 200px;"></a>
            <div class="details">
                <h3><a href="#" data-toggle="modal" data-target="#exampleModalCenter">Aloe Gelly</a></h3>
            </div>
        </li>
        <li>
            <a data-toggle="modal" data-target="#exampleModalCenter" style="background-image: url(./assets/media/skintoner.jpg);height:200px;width: 200px;"></a>
            <div class="details">
                <h3><a href="#" data-toggle="modal" data-target="#exampleModalCenter">Skin Toner</a></h3>
            </div>
        </li>
        <li>
            <a data-toggle="modal" data-target="#exampleModalCenter" style="background-image: url(./assets/media/liniment.jpeg);height:200px;width: 200px;"></a>
            <div class="details">
                <h3><a href="#" data-toggle="modal" data-target="#exampleModalCenter">Liniment</a></h3>
            </div>
        </li>
        <li>
            <a data-toggle="modal" data-target="#exampleModalCenter" class="" style="background-image: url(./assets/media/eyedrops.jpg);height:200px;width: 200px;"></a>
            <div class="details">
                <h3><a href="#" data-toggle="modal" data-target="#exampleModalCenter">Eye Drops</a></h3>
            </div>
        </li>
    </ul>
</div>


<div class="modal fade bd-example-modal-lg " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">


                <div class="container">

                    <div class="row2">
                        <div class="col-md-12 ">
                            <div class="recipe-container">
                                <h1>Recipe</h1>
                                <table class="table table-hover table-dark rec">
                                    <thead>
                                        <tr>
                                            <th>Item Discription</th>
                                            <th>Part Number</th>
                                            <th>Weight Needed</th>
                                            <th>Amount In Stock</th>
                                            <th>In Stock</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="form-row1">
                                            <form id="recipe-form">

                                            </form>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>








            </div>
            <div class="modal-footer">
                <a href="" type="button" class="btn btn-outline-secondary">Continue</a>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/recipe.js"></script>